html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.page-area {
  display: grid;
  grid-template-rows: repeat(4, auto) 150px;
  grid-template-columns: 1fr;
}

.splash-area {
  display: grid;
  grid-template-columns: 1fr minmax(0px, 800px) 1fr;
  grid-template-areas: ". c .";
  grid-template-columns: 1fr minmax(0px, 600px) 1fr;
  grid-template-rows: 80vh;
  background: #F2E9DE;
  position: relative;
}
.splash-area .splash-image-area {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("img/photo.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}
.splash-area .content {
  position: relative;
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
.splash-area .content .name-area {
  color: #333;
  margin-left: 20px;
}
.splash-area .content .name-area .name {
  font-size: 4rem;
  margin-bottom: 0px;
  font-family: "Prata", serif;
}
.splash-area .content .name-area .title {
  font-size: 1.2rem;
  letter-spacing: 6px;
}

.project-area {
  display: grid;
  grid-template-columns: 1fr minmax(0px, 800px) 1fr;
  grid-template-areas: ". c .";
  grid-template-rows: auto;
  background: #B9875B;
}
.project-area .content {
  grid-area: c;
  display: grid;
  padding: 20px;
  grid-auto-rows: auto;
  grid-row-gap: 20px;
}
.project-area .content .project-row {
  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a b b";
  background: #83593D;
}
.project-area .content .project-row .project-image-area {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: a;
  padding: 20px;
}
.project-area .content .project-row .project-image-area .project-image-container {
  width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}
.project-area .content .project-row .project-image-area .project-image-container img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: -5px;
}
.project-area .content .project-row .project-text-area {
  grid-area: b;
  border-left: 10px solid #B9875B;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.project-area .content .project-row .project-text-area .project-text-container {
  display: grid;
  grid-template-areas: ". . ." "t s c" ". . .";
  grid-template-rows: 20px 1fr 20px;
  grid-template-columns: 1fr 4px 2fr;
}
.project-area .content .project-row .project-text-area .project-text-container .project-title {
  grid-area: t;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Prata", serif;
  font-size: 1.2rem;
  color: #F2E9DE;
  padding: 5px;
}
.project-area .content .project-row .project-text-area .project-text-container .seperator {
  grid-area: s;
  background: #F2E9DE;
  border-radius: 2px;
}
.project-area .content .project-row .project-text-area .project-text-container .project-text {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 10px;
  color: #F2E9DE;
}
.project-area .content .project-row .project-text-area .project-text-container .project-text a {
  color: white;
  text-decoration: underline;
}
.project-area .content .project-row:nth-child(2n) {
  grid-template-areas: "b b a";
}
.project-area .content .project-row:nth-child(2n) .project-text-area {
  border-left: none;
  border-right: 10px solid #B9875B;
}

.video-area {
  background: #D5B5A0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-area iframe {
  padding: 100px 0px;
}

.chat-area {
  display: grid;
  grid-template-columns: 1fr minmax(0px, 800px) 1fr;
  grid-template-areas: ". c .";
  background: #F2E9DE;
  padding: 0px 20px;
}
.chat-area .content {
  grid-area: c;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
.chat-area .content .chat-icon-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  font-size: 6rem;
  color: #593226;
}
.chat-area .content .chat-row-area .chat-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "q a";
  margin-bottom: 20px;
}
.chat-area .content .chat-row-area .chat-row .chat-text {
  grid-area: q;
  background: #593226;
  padding: 10px;
  color: #F2E9DE;
  border-radius: 10px;
}
.chat-area .content .chat-row-area .chat-row:nth-child(2n) .chat-text {
  grid-area: a;
}

.social-area {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 220px;
  right: 0px;
  bottom: 20px;
  margin-right: 20px;
}
.social-area .social-item {
  position: relative;
  height: 60px;
  width: 60px;
  background: #D5B5A0;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: border 0.2s;
  box-sizing: border-box;
}
.social-area .social-item a {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  text-decoration: none;
}
.social-area .social-item:hover {
  border: 5px solid #593226;
}

.footer {
  display: grid;
  grid-template-columns: 1fr minmax(0px, 800px) 1fr;
  grid-template-areas: ". c .";
  background: #B9875B;
  grid-template-rows: 1fr;
}
.footer .content {
  grid-area: c;
  position: relative;
}

@media screen and (max-width: 600px) {
  .splash-area .content .name-area .name {
    font-size: 3rem;
  }
  .splash-area .content .name-area .title {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }

  .project-area .content .project-row {
    grid-template-rows: 250px 250px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a a a" "b b b";
  }
  .project-area .content .project-row .project-image-area {
    border-bottom: 20px solid #B9875B;
  }
  .project-area .content .project-row .project-image-area .project-image-container {
    height: 100%;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
  }
  .project-area .content .project-row .project-image-area .project-image-container img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: -5px;
  }
  .project-area .content .project-row .project-text-area {
    border-left: none;
  }
  .project-area .content .project-row:nth-child(2n) {
    grid-template-areas: "a a a" "b b b";
  }
  .project-area .content .project-row:nth-child(2n) .project-text-area {
    border-right: none;
  }

  .video-area > iframe {
    display: none;
  }

  .chat-area .content .chat-row-area .chat-row {
    grid-template-areas: "o";
  }
  .chat-area .content .chat-row-area .chat-row .chat-text {
    grid-area: o;
  }
  .chat-area .content .chat-row-area .chat-row:nth-child(2n) .chat-text {
    margin-left: 20px;
  }

  .social-area {
    width: 140px;
  }
  .social-area .social-item {
    height: 40px;
    width: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
